body {
    background-color: #ffffff;
}

.contenedor-barras {
    width: 795px;
    height: 204px;
}

.barra {
    width: 65%;
    height: 35px;
    border: 2px solid rgb(245, 241, 241);
    border-radius: 19px;
    margin: 20px;
    background-color: #cfc9c9;
    box-shadow: rgb(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.progreso-mini {
    width: 10%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 19px;
    margin: 3px;
}

.progreso-avanzado {
    width: 24%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 19px;
    margin: 3px;
}

.progreso-mitad {
    width: 48%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 19px;
    margin: 3px;
}

.full-progreso {
    width: 73%;
    height: 30px;
    background-color: #4caf50;
    border-radius: 19px;
    margin: 3px;
}